@{
    if(Question != null)
    {
        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center quiz-page">
            <div class="question-progress-container">
                <div class="question-player-count">
                    <div class="fs-4">PLAYERS ANSWERED</div>
                    <div class="fs-4">@UserAnswerCount</div>
                </div>
                <CountDownTimer EndDate="@QuestionEndTime" />
            </div>
            <div class="question-container d-flex flex-column justify-content-center align-items-center">
                <div class="quiz-admin-question-title my-3 fs-1 fw-bold">@Question.Title</div>
                <img class="img-fluid rounded img-quiz" src="@Question.ImageUrl" />
                <div class="quiz-admin-button-container">
                    @for (var i = 0; i < Question.Options?.Length; i++)
                    {
                        var answer = Question.Options[i];
                        var index = i;
                        <button class="btn btn-admin-quiz btn-quiz-question-@index" value="@index">
                            <span>@(index.GetButtonNameFromIndex())</span>
                            <div class="quiz-question-text d-flex justify-content-center">
                                <div class="align-self-center">@answer</div>
                            </div>
                        </button>


                    }
                </div>
            </div>

        </div>
    }
}




@code {

    [Parameter]
    public MultipleChoiceQuestion? Question { get; set; }

    [Parameter]
    public DateTime QuestionEndTime { get; set; }

    [Parameter]
    public int UserAnswerCount { get; set; }


}
