
@{
    if (Question is null)
    {
        <p class="text-warning">Question information is not available.</p>
    }
    else
    {
        if (Question is MultipleChoiceQuestion mulChoiceQuestion)
        {
            <MultipleChoicePresentQuestion Question="@mulChoiceQuestion" QuestionEndTime="@QuestionEndTime" UserAnswerCount="@UserAnswerCount" />
        }
        else if (Question is TrueFalseQuestion trueFalseQuestion)
        {
            <TrueFalsePresentQuestion Question="@trueFalseQuestion" QuestionEndTime="@QuestionEndTime" UserAnswerCount="@UserAnswerCount" />
        }
        else
        {
            <p class="text-warning">Unsupported question type.</p>
        }
    }
}


@code {
    [Parameter]
    public Question? Question { get; set; }

    [Parameter]
    public DateTime QuestionEndTime { get; set; }

    [Parameter]
    public int UserAnswerCount { get; set; }
}
