<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center quiz-page">
    <div class="question-progress-container">
        <div class="question-player-count">
            <div class="fs-4">PLAYERS ANSWERED</div>
            <div class="fs-4">@UserAnswerCount</div>
        </div>
        <CountDownTimer EndDate="@QuestionEndTime" />
    </div>
    <div class="my-3 fs-1 fw-bold">@Question</div>
    <img class="img-fluid rounded img-quiz" src="@ImageUrl" />
    <div class="quiz-admin-button-container">
        @for (var i = 0; i < Options.Length; i++)
        {
            var answer = Options[i];
            var index = i;
            <button class="btn btn-admin-quiz btn-quiz-question-@index" value="@index">
                <div class="quiz-question-text">@answer</div>
            </button>
        }
    </div>

</div>


@code {

    [Parameter]
    public string Question { get; set; }

    [Parameter]
    public string[] Options { get; set; }

    [Parameter]
    public DateTime QuestionEndTime { get; set; }

    [Parameter]
    public int UserAnswerCount { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }




}
